html {
  background-image: url("/snoop.jpg");
background-position: center center;
background-repeat: repeat-x;
  padding-bottom: 200px;
}

.the-button {
  font-size: 20px;
  width: 40%;
}

.h3-class {
  color: white;
}

.press-it {
  text-align: center;
}



body {
  max-width: 600px;
  margin: 125px auto 0 auto;
 }

textarea {
  width: 95%;
  display: block;
  margin: 0 auto 6px auto;
}
