html {
  background-image: url("/snoop.jpg");
background-position: center center;
background-repeat: repeat-x;
height: 100vh;
}



body {
  max-width: 650px;
  margin: 125px auto 0 auto;
 }

textarea {
  max-width: 100%;
}
