html {
  background-image: url("/snoop.jpg");
background-position: center center;
background-repeat: repeat-x;
height: 100vh;
}

.the-button {
  text-align: center;
  font-size: 20px;
}



body {
  max-width: 650px;
  margin: 125px auto 0 auto;
 }

textarea {
  max-width: 100%;
}
